<div class="event-calendar">
  <table>
      <caption>2016年9月</caption>
      <tbody>
          <tr>
              <th>日</th>
              <th>月</th>
              <th>火</th>
              <th>水</th>
              <th>木</th>
              <th>金</th>
              <th>土</th>
          </tr>
          <% @calendar_days.each_with_index do |day, i| %>
              <% if i == 0 || i % 7 == 0 %>
                  <tr>
              <% end %>
              <td>
                  <p>
                      <%= day %>
                  </p>
                  <div>
                      <!-- ここにカレンダー１日単位で情報埋める -->
                  </div>
              </td>
              <% if i !=  0 && (i + 1) % 7 == 0 %>
                  </tr>
              <% end %>
          <% end %>
      </tbody>
  </table>
</div>