<div class='top'>
  <div class="container top-main pb-5">
    <div class='top-bg-title mx-auto'>
      <div class='col-9 mx-auto px-3 py-4 text-center title'>
        <h1 class='pt-5 top-title'>テニスコート予約アプリ</h1>
        <h4 class='pt-3 top-sub-title'>
          当月の予約を1時間ごとに予約可能です<br>
          手順
          1)新規登録<br>
          2)ログイン<br>
          1)空きコートの確認<br>
          2)コートの予約
        </h4>
      </div>
    </div>
  </div>
</div>